<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823226027200-raun2f6ubs7b2gvtrdf3n8lskfpbpanc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823226027200-raun2f6ubs7b2gvtrdf3n8lskfpbpanc</string>
	<key>API_KEY</key>
	<string>AIzaSyA1T7uuZZrtiEeLbM7Gx74uodxDfO5hv1s</string>
	<key>GCM_SENDER_ID</key>
	<string>823226027200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDo</string>
	<key>PROJECT_ID</key>
	<string>tod-version-one</string>
	<key>STORAGE_BUCKET</key>
	<string>tod-version-one.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823226027200:ios:6a5c0419888a815544b125</string>
</dict>
</plist>